.hero{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

.hero-title{
    text-align: center;
    background: var(--title-gradient);
    font-size: 4rem;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}

.hero-subtitle{
    text-align: center;
    font-size: 2.3rem;
    font-weight: 700;
    background: var(--subtitle-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text{
    font-size: 1.3rem;
    color: var(--text-secondary);
    margin-top: 15px;
    text-wrap: pretty;
}

.hero-text span{
    color: var(--text-primary);
    font-weight: 600;
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
}

/* MOBILE */
@media (min-width: 320px){
    .hero{
        width: 100%;
        margin-top: 100px;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .hero-content{
        align-items: center;
        width: 100%;
    }

    .hero-title{
        font-size: 3rem;
    }

    .hero-subtitle{
        font-size: 1.8rem;
    }

    .hero-text{
        text-align: center;
    }

    .social-buttons{
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
}

@media(min-width: 768px){
    .hero{
        margin-top: 0;
    }
    .hero-text{
        max-width: 700px;
        margin: 0 auto;
    }
}

/*  SCREEN */
@media (min-width: 1440px){
    .hero{
        margin-top: 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-content{
        align-items: start;
    }

    .hero-title{
        font-size: 4rem;
    }

    .hero-subtitle{
        font-size: 2.3rem;
    }

    .hero-text{
        text-align: start;
    }

    .social-buttons{
        align-items: center;
        justify-content: start;
        margin-bottom: 30px;
    }
}