.title{
    text-align: center;
    background: var(--title-gradient);
    font-size: 4rem;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 100px;
}