.button {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 10px;
  font-size: 14px;
  width: fit-content;
  color: var(--accent-primary);
  border: 1px solid var(--accent-primary);
  border-radius: 50px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  text-decoration: none;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--accent-primary);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px var(--accent-soft);
  border-color: transparent;
}

.button:active {
  scale: 1;
}

.button a {
  text-decoration: none;
  color: inherit;
}



.button-text{
    text-decoration: none;
}
